$gold: #C59C63;

$red: #E5173F;

$black: #374247;

$text: rgba(54,65,70,0.62);

$grey: rgba(255,255,255,0.5);

$grey1: rgba(55,66,71,0.04);

$grey2: rgba(55,66,71,0.16);

$grey3: rgba(55,66,71,0.38);

$grey4: rgba(55,66,71,0.04);

$bg: #F7F8F8;
